{% extends 'cabtiend.html' %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}



{% block content %}
<h1>tienda</h1>
<h2>Productos</h2>
<ul>
    {% for producto in productos %}
    <li>            
        <a href="{% url 'producto' producto.id %}">
            <h1>{{producto.nombre}} </h1>
            <p>{{producto.description}} </p>
        </a>        
    </li>
    {% empty %}
    <li>No hay productos disponibles.</li>
    {% endfor %}
    </ul>
{% endblock %}


