<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}" />
    <title>Login</title>
  </head>
  <body>
    <form action="" method="post">
      <h1>Bienvenido!</h1>
      <input type="text" name="username" required placeholder="usuario" /><br />
      <input type="text" name="email" required placeholder="email" /><br />
      <input
        type="password"
        name="pass"
        required
        placeholder="Contraseña"
      /><br />
      <button type="submit">Iniciar Session</button>
      <section>
        <p>
          Aún no te has registrado? <a href="/register">Registrarse</a
          ><br />
        </p>
        <br />
        <p>Para volver a la WKI <a href="/">Wiki</a><br /></p>
        <br />
        <p>
          Para volver a la Tienda
          <a href="">Tienda</a>
        </p>
      </section>
    </form>
  </body>
</html>
